.Container {
    background-image: url("../img/BBQ.jpg");
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}

.BgOpacity {
    min-height: 100vh;
    background: rgba(255,255,255,0.8);
}

.Space {
    height: 100px;
    min-width: 100%
}

.SignupForm {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    max-width: 500px;
    height: 450px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
}

.SignupForm p {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}

.signupbtn {
    display: table;
    position: relative;
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    cursor: pointer;
}

.SignUpBtn {
    display: table;
    position: relative;
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin:0 auto;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #ccc;
    cursor: pointer;
}

.SignUpBtn ::after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.SignUpBtn :hover::after {
    transform: scale(1, 1);
}

.SignUpBtn:active {
    background-color: #dcdcdc;
}

.CantSignUp {
    display: table;
    position: relative;
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin:0 auto;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #ccc;
    background-color: darkgrey;
}

.BtnCentering {
    display: table-cell;
    vertical-align: middle;
}